{% extends "base.html" %}
{% load i18n static %}
{% block content %}

{% if validlink %}


<div class="col-md-8">
    <form class="form-horizontal" method="POST">
        <fieldset>
            <div id="legend">
                <h1>{{ title }}</h1>
                <p> "Please enter your new password twice so we can verify you typed it in correctly."</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="password">{% trans 'New password:' %} *</label>
                <div class="col-sm-4">
                    <input type="password" name="{{form.new_password1.html_name}}" id="{{ form.new_password1.auto_id }}" placeholder="" class="form-control">
                </div>
            </div>
            <p class="help-block" id="all_errors">{{ form.new_password1.errors }}</p>
            <div class="form-group">
                <label class="control-label col-sm-4" for="password">{% trans 'Confirm password:' %} *</label>
                <div class="col-sm-4">
                    <input type="password" name="{{form.new_password2.html_name}}" id="{{ form.new_password2.auto_id }}" placeholder="" class="form-control">
                </div>
            </div>
            <p class="help-block" id="all_errors">{{ form.new_password2.errors }}</p>
            
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="col-sm-4 form-group text-center">
                <button type="submit" class="btn btn-success" value="{% trans 'Change my password' %}">Change Password</button>
            </div>
        </fieldset>
    </form>
</div>

{% else %}

<p> "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>
{% endif %}

{% endblock %}