{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <ul class="nav navbar-nav list-inline">
      <li>
        <a href="{% url  'eventslist' %}?status=upcoming">
          <h4>UPCOMING</h4>
        </a>
      </li>
      <li>
        <a href="{% url 'eventslist' %}?status=past">
          <h4>PAST</h4>
        </a>
      </li>
      <li>
        <a href="{% url 'photoslist' %}">
          <h4>PHOTOS</h4>
        </a>
      </li>
      <li><br>
      </li>
    </ul>
  </div>
  <div class="col-sm-6 text-right">
    <div class="searchbar">
      <form method="GET" >
        <input type="text" placeholder="Search.." name="event_name">
        <button type="submit"><i class="fas fa-search"></i></button></li>
        <input class="hide" type="aria-hidden" name="status" value="{{status}}">
          <h5>{{error}}</h5>
      </form>
    </div>
  </div>  
</div>
<div class="container" id="con">
  {% for item in eventsdata %}   
  <div class="row events_list">
    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
      <div class="col-sm-12">
        <div class="panel panel-danger">
          <div class="panel-heading text-uppercase">{{item.name}}</div>
          <div class="panel-body">
            <h3>{{item.event_datetime}}<br>{{item.status}}</h3>
            {{item.description|truncatewords:20|striptags}}
          </div>
          <div >
            <div class="row">
              {%for i in item.get_photos %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="{{i.highres_link}}" data-target="#image-gallery">
                <img class="img-thumbnail" src="{{i.thumb_link}}" alt="Another alt text">
                </a>
              </div>
              {%endfor%}
            </div>
          </div>
          <div class="panel-footer"><a href="https://www.meetup.com/Theclimbon/events/{{item.created_id}}">....MoreDetails</a></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="image-gallery-title"></h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="image-gallery-image" class="img-responsive col-md-12" src="">
        </div>
        <div class="modal-footer">
          <button type="button" class=" float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
          </button>
          <button type="button" id="show-next-image" class="float-right"><i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<center><div class="loader"></div></center>
{% if page_obj.has_next %}
<a class="infinite-more-link" id="load_events" href="{{ request.path }}?status={{status}}&event_name={% if event_name %}{{event_name}}{% endif %}&page={{ page_obj.next_page_number }}"></a>
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  var processScroll = true;
  var timeout;
  $(window).scroll(function() {
  clearTimeout(timeout);  
  
  timeout = setTimeout(function() {
    if (processScroll  && $(window).scrollTop() > $(document).height() - $(window).height() -300) {
        $('.loader').hide();
        var events_url = $("#load_events").attr('href')
        $.get(events_url, function(data,status){
        if (events_url==undefined){
          processScroll = false;
          $('.loader').hide();
        }else{
          processScroll = true; 
        $("#load_events").remove()
        $("#con").append(data)
        }              
    });
    }
  },1000);
  });
</script>
{% endblock extra_js %}