{% extends "base.html" %}
{% block content %}
<div id="legend">
    <legend class="">PhoTOs
</div>
{%for i in details%}
<div class="backdrop backdrop_photos"></div>
<div class="modal modal_photos" id="modal{{forloop.counter0}}">
    <div class="ele{{forloop.counter0}}">{{i.get_html|safe}}</div>
</div>
{%endfor%}
<main>
    <div class="container">
        <div class="row">
            {%for i in details%}
            <div class="trip-images  col-xs-6">
                <img class="trip-image img-responsive image-color" src="{{i.get_image}}" >
            </div>
                {%endfor%}
            </div>
        </div>
</main>
{% endblock %}
{% block extra_js %}
<script>

var imageSF = document.querySelectorAll('.trip-image');
var backdrop = document.querySelector('.backdrop');
var modal = document.querySelector('.modal');


function openModal(count) {
    var modal = document.getElementById('modal' + count);
    backdrop.style.display = 'block';
    modal.style.display = 'block';
    console.log(count)
}

function closeModal(count) {
    var modal = document.getElementById('modal' + count);
    backdrop.style.display = 'none';
    modal.style.display = 'none';
}

for (i = 0; i < imageSF.length; i++) {
    imageSF[i].addEventListener('click', openModal.bind(null, i));
    backdrop.addEventListener('click', closeModal.bind(null, i));
}
console.log(jQuery().jquery);
</script>
{% endblock extra_js %}