{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<div class="row justify-content-center">
  <div class="col-sm-6">
    <ul class="nav navbar-nav list-inline list-nav ">
      <li class="">
        <a href="{% url  'eventslist' %}?status=upcoming">
          Upcoming
        </a>
      </li>
      <li>
        <a href="{% url 'eventslist' %}?status=past">
          Past
        </a>
      </li>
      <li>
        <a href="{% url 'photoslist' %}">
          Photos
        </a>
      </li>
      <li><br>
      </li>
    </ul>
  </div>
  <div class="col-sm-6 text-right">
    <div class="searchbar">
      <form method="GET" >
        <input type="text" placeholder="Search.." name="event_name">
        <button type="submit"><i class="fas fa-search"></i></button></li>
        <input class="hide" type="aria-hidden" name="status" value="{{status}}">
          <h5>{{error}}</h5>
      </form>
    </div>
  </div>  
</div>
{%for i in details%}
<div class="backdrop backdrop_photos"></div>
<div class="modal modal_photos" id="modal{{forloop.counter0}}">
    <div class="ele{{forloop.counter0}}">{{i.get_html|safe}}</div>
</div>
{%endfor%}
<main>
    <div class="container">
        <div class="row">
            {%for i in details%}
            <div class="trip-images  col-xs-6">
                <img class="trip-image img-responsive image-color" src="{{i.get_image}}" >
            </div>
                {%endfor%}
            </div>
        </div>
</main>
{% endblock %}
{% block extra_js %}
<script>

var imageSF = document.querySelectorAll('.trip-image');
var backdrop = document.querySelector('.backdrop');
var modal = document.querySelector('.modal');


function openModal(count) {

    var modal = document.getElementById('modal' + count);
    backdrop.style.display = 'block';
    modal.style.display = 'block';
    console.log(count)
}

function closeModal(count) {
    var modal = document.getElementById('modal' + count);
    backdrop.style.display = 'none';
    modal.style.display = 'none';
}

for (i = 0; i < imageSF.length; i++) {
    imageSF[i].addEventListener('click', openModal.bind(null, i));
    backdrop.addEventListener('click', closeModal.bind(null, i));
}
</script>
{% endblock extra_js %}