{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <form action='' id="register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="id_title">Title*</label>
                <input type="text" name="{{form.title.html_name}}" id="{{ form.title.auto_id }}" placeholder="Name" class="form-control">
                <p>{{form.title.errors}}</p>
            </div>
            <div class="form-group">
                <label for="id_title">Title*</label>
                <input type="text" name="{{form.title.html_name}}" id="{{ form.title.auto_id }}" placeholder="Name" class="form-control">
                <p>{{form.title.errors}}</p>
            </div>
            <div class="form-group">
                <label for="active">Active</label>
                {{form.active}}
                {{form.active.errors}}
            </div>
            <div class="form-group">
                <label for="id_press_photos">Photo*</label>
                <input type="file" name="{{form.press_photos.html_name}}" id="{{ form.press_photos.auto_id }}" placeholder="link" accept="image/*" class="form-control">
                {{form.press_photos.errors}}
            </div>
            <div class="form-group">
                <label for="id_press_description">Description</label>
                <textarea type="content" name="{{form.press_description.html_name}}" id="{{ form.press_description.auto_id }}" placeholder="text here...." class="form-control"></textarea>
                <p>{{form.press_description.errors}}</p>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}