{% extends "base.html" %}
{% block content %}
<div class="col-md-16">
<form class="form-inline" action='' id="register" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div id="legend">
        <legend class="">Create New Account</legend>
        </div>
         
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">First Name</label>
            <div class="col-sm-4">
                <input type="text" name="{{form.first_name.html_name}}" id="{{ form.first_name.auto_id }}" placeholder="" value="{{form.first_name.value}}" class="form-control">
                {{form.first_name.errors}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="email">Last Name</label>
            <div class="col-sm-4">
                <input type="text" name="{{form.last_name.html_name}}" id="{{ form.last_name.auto_id }}" placeholder="" value="{{form.last_name.value}}" class="form-control">
                {{form.last_name.errors}}
            </div>
        </div><br><br>

        <div class="form-group">
            <label class="control-label col-sm-4" for="email">E-mail *</label>
            <div class="col-sm-4">
                <input type="text" name="{{form.email.html_name}}" id="{{ form.email.auto_id }}" placeholder="" value="{{form.email.value}}" class="form-control">
                {{form.email.errors}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="date_of_birth">Date of birth</label>
            <div class="col-sm-4">
                <input type="date" name="{{form.date_of_birth.html_name}}" id="{{ form.date_of_birth.auto_id }}" placeholder="yyyy-mm-dd" value="{{form.date_of_birth.value|date:'Y-m-d'}}" class="form-control">
                {{form.date_of_birth.errors}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="is_active">Active</label>
            <div class="col-sm-4">
                {{form.is_active}}
                {{form.is_active.errors}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="is_staff">Staff status</label>
            <div class="col-sm-4">
                {{form.is_staff}}
                {{form.is_staff.errors}}
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <label class="control-label col-sm-3"  for="bloodgroup">Bloodgroup</label>
            <div class="col-sm-2">
                <input type="text" name="{{form.bloodgroup.html_name}}" id="{{ form.bloodgroup.auto_id }}" placeholder="" value="{{form.bloodgroup.value}}" class="form-control">
                {{form.bloodgroup.errors}}
            </div>
        </div><br><br>

        <div class="form-group">
            <label class="control-label col-sm-4"  for="contact">Contact*</label>
            <div class="col-sm-2">
                <input type="number" name="{{form.contact.html_name}}" id="{{ form.contact.auto_id }}" placeholder="" value="{{form.contact.value}}" class="form-control">
                {{form.contact.errors}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"  for="emergency_contact_no">Emergency Contact No*</label>
            <div class="col-sm-2">
                <input type="number" name="{{form.emergency_contact_no.html_name}}" id="{{ form.emergency_contact_no.auto_id }}" placeholder="" value="{{form.emergency_contact_no.value}}" class="form-control">
                {{form.emergency_contact_no.errors}}
            </div>
        </div><br><br>

         <div class="form-group">
            <label class="control-label col-sm-2"  for="photo">Photo*</label>
            <div class="col-sm-1">
                <input type="file" name="{{form.photo.html_name}}" id="{{ form.photo.auto_id }}" 
                accept="image/*" placeholder="" class="form-control">
                <img src="{{ form.instance.photo.url}}" width="100" height="100">
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-sm-2"  for="About">About</label>
            <div class="col-sm-2">
                <input type="text" name="{{form.About.html_name}}" id="{{ form.About.auto_id }}" placeholder="" value="{{form.About.value}}" maxlength="2000" class="form-control">
                {{form.photo.errors}}
            </div>
        </div>
        <br><br><br>
        {% csrf_token %}
        <div class="form-group col-sm-4 text-center">
            <button class="btn btn-success" type="submit">submit</button>
            <input class="btn btn-success" type="reset" value="Reset">
        </div>
    </fieldset>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$('#is_active').change(function(){
     if($(this).value('True')){
          $(this).type('checked');
     }else{
          $(this).type('unchecked');
     }
});

</script>
{% endblock %}