{% extends "base.html" %}
{% block content %}
<div class="col-md-16">
    <title>DATABASE</title>
    <legend class="">DATABASE OF USERS</legend>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>email</th>
            <th>Username</th>
            <th>STAFF_STATUS</th>
            <th>ACTIVITY_STATUS</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {% for item in result %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.email }}</td>
            <td>{{item.first_name}}{{item.last_name}}</td>
            <td>{{ item.is_staff }}</td>
            <td>{{ item.is_active }}</td>
            <td><button><a  href="{% url 'staff_edit'  item.id %}"><b>EDIT</b></a></button></td>
            <td><button><a  href="{% url 'staffdelete' item.id %}"><b>DELETE</b></a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
<center>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
    {% endif %}
</center>
{% endblock %}